<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="Data Source=(local);Initial Catalog=sc10_Core;User ID=coreuser;Password=vuvzQk6slFesznsgInM2" />
	<add name="security" connectionString="Data Source=(local);Initial Catalog=sc10_Core;User ID=securityuser;Password=9jgpOGqxg9aHCDTtvXCJ" />
	<add name="master" connectionString="Data Source=(local);Initial Catalog=sc10_Master;User ID=masteruser;Password=uj6d4SfMLM66FfvqTjhw" />
	<add name="web" connectionString="Data Source=(local);Initial Catalog=sc10_Web;User ID=webuser;Password=EZf4AgvILP1lYHOUWYee" />
	<add name="messaging" connectionString="Data Source=(local);Initial Catalog=sc10_Messaging;User ID=messaginguser;Password=BW5GHUQYrhEYvbdo0Wfx" />
	<add name="xdb.processing.pools" connectionString="Data Source=(local);Initial Catalog=sc10_Processing.Pools;User ID=poolsuser;Password=XRGdTHBFYZ4onT06czXS" />
	<add name="xdb.referencedata" connectionString="Data Source=(local);Initial Catalog=sc10_ReferenceData;User ID=referencedatauser;Password=jAtH7HmR0scOs0EOeGHR" />
	<add name="xdb.processing.tasks" connectionString="Data Source=(local);Initial Catalog=sc10_Processing.Tasks;User ID=tasksuser;Password=AU84AcCISrDNCca39Uku" />
	<add name="experienceforms" connectionString="Data Source=(local);Initial Catalog=sc10_ExperienceForms;User ID=formsuser;Password=yKIwAkviZPU4qre1Q2jJ" />
	<add name="exm.master" connectionString="Data Source=(local);Initial Catalog=sc10_EXM.Master;User ID=exmmasteruser;Password=0Fh9zZO61iMjO7GZzOt7" />
	<add name="reporting" connectionString="Data Source=(local);Initial Catalog=sc10_Reporting;User ID=reportinguser;Password=8aucKKpaXbx642A7LoQQ" />
	<add name="cortex.processing.engine" connectionString="https://sc10xconnect.dev.local" />
	<add name="cortex.processing.engine.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=43CFFE57F8C7EBD0EB2265903BB1B4BE68194A22" />
	<add name="sitecore.reporting.client" connectionString="https://sc10xconnect.dev.local" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=43CFFE57F8C7EBD0EB2265903BB1B4BE68194A22" />
	<add name="solr.search" connectionString="https://localhost:8983/solr" />
	<add name="sitecoreidentity.secret" connectionString="bQYEFARhSQf1zkEIPxGGUKTJ8x6E0xI9kN1Ci4rpIzGVAMOYBYaQnXTuvvFv5EV1PNLLWxnWJMjTUTDJqhesodSTI28Be1qQbdeZ" />
	<add name="xconnect.collection" connectionString="https://sc10xconnect.dev.local" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=43CFFE57F8C7EBD0EB2265903BB1B4BE68194A22" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://sc10xconnect.dev.local" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=43CFFE57F8C7EBD0EB2265903BB1B4BE68194A22" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://sc10xconnect.dev.local" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=43CFFE57F8C7EBD0EB2265903BB1B4BE68194A22" />
	<add name="xdb.referencedata.client" connectionString="https://sc10xconnect.dev.local" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=43CFFE57F8C7EBD0EB2265903BB1B4BE68194A22" />
	<add name="EXM.CryptographicKey" connectionString="0x1420417954114637027178451149930521004120677966954935906310385168" />
	<add name="EXM.AuthenticationKey" connectionString="0x5558354277205069594637574974447756101556434809715542412664169618" />
	<add name="QuoteContext" connectionString="Data Source=localhost;Initial Catalog=Queries;User ID=sa;Password=Parola123!" providerName="System.Data.SqlClient"  />
	
</connectionStrings>